@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
html {
   scroll-behavior: smooth;
}
html,
body {
   height: 100%;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}
p,
ul,
ol {
   margin: 0px;
}
p {
   padding-bottom: 20px;
}
.page {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.main {
   flex: 1 0 auto;
}
.footer {
   flex: 0 0 auto;
}
/*line*/
.line {
   position: absolute;
   width: 100%;
   top: 0;
   z-index: 2;
}
.line div {
   float: left;
   width: 20%;
   height: 3px;
}
.hr {
   position: absolute;
   width: 40%;
   left: 30%;
   top: 0;
}
.hr div {
   float: left;
   width: 20%;
   height: 2px;
}
.line .pink {
   background-color: #f0003d;
}
.line .blue {
   background-color: #00a0e3;
}
.line .grey {
   background-color: #a2aaad;
}
.line .yellow {
   background-color: #f8f323;
}
.line .green {
   background-color: #009846;
}

/*menu*/
.menu {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.8491771708683473) 0%, rgba(0, 0, 0, 0.75) 80%);
   border-radius: 0 0 20px 20px;
   margin-top: 3px;
}
.link-light,
.dropdown-item {
   font-weight: 300;
   color: #fff;
}
.menu-item {
   position: relative;
   font-size: 1.1em;
}
.menu-item:after {
   display: block;
   position: absolute;
   bottom: 10px;
   left: 0;
   width: 0;
   height: 2px;
   background-color: #f50000;
   content: '';
   transition: width 0.3s ease-out;
}
.menu-item:hover .link-light {
   color: #f50000;
}
.menu-item:hover:after,
.menu-item:focus:after {
   width: 100%;
}
.dropdown-item:hover,
.dropdown-item:focus {
   color: #f50000;
   background: transparent;
   border-color: #f50000;
}
.dropdown-menu {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.8491771708683473) 0%, rgba(0, 0, 0, 0.75) 80%);
   border-radius: 0 0 20px 20px;
   font-size: 16px;
}
.dropdown-item {
   max-width: 230px;
   border-bottom: 1px solid transparent;
}
.navbar-brand {
   transition: all 0.4s;
}
.navbar-brand img {
   width: 70px;
}
.navbar-brand h5 {
   font-size: 16px;
}
.navbar-brand:hover h5 {
   color: #e9222c;
}
.navbar-brand:hover {
   transform: translate(10px);
}
.modal-content {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.8491771708683473) 0%, rgba(0, 0, 0, 0.75) 80%);
}
.modal-header,
.modal-body,
.modal-footer {
   border: 0px;
}
.btn-close {
   background-color: #fff;
}
.modal-title {
   color: #fff;
}
.btn-outline-danger {
   margin-left: 20px;
}
.carousel-inner {
   max-width: 1000px;
}
.carousel-caption a {
   color: #fff;
   background-color: #e9222c;
   font-size: 24px;
   padding: 10px 25px;
   border-radius: 20px;
   margin-bottom: 60px;
   text-decoration: none;
}
.carousel-caption {
   bottom: 70px;
}

*[data-original-title]:hover::before {
   content: attr(data-original-title);
   position: absolute;
   margin-top: 60px;
   background-color: #13162f;
   padding: 5px;
   width: 200px;
   text-align: center;
   margin-left: -70px;
   color: #fff;
   z-index: 2;
}
.title h2 {
   line-height: 150px;
   font-size: 46px;
}
.title {
   position: relative;
}
.page__header {
   min-height: 150px;
}
.header__padding {
   padding-top: 70px;
}
.partners {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 20px 20px 50px 20px;
}
.img-responsive:hover {
   margin-top: -15px;
}

.card {
   overflow: hidden;
}

.card-img-top:hover {
   transform: scale(1.05);
   transition: all 0.5s ease-in;
}

.services-img {
   height: 128px;
}
.service-link {
   color: #444444;
   padding: 30px;
   text-align: center;
}
.service-link h3 {
   padding: 5px;
   font-weight: 700;
}

.service-link:hover {
   color: #fff;
}
.service__box {
   transition: all 0.3s;
   border-radius: 5px;
   height: 100%;
}

.service__box.red {
   border-bottom: 3px solid #e9222c;
}
.service__box.red span {
   color: #e9222c;
}
.service__box.red:hover {
   background: #e9222c;
}

.service__box.cyan {
   border-bottom: 3px solid #2db6fa;
}
.service__box.cyan span {
   color: #2db6fa;
}
.service__box.cyan:hover {
   background: #2db6fa;
}

.service__box.orange {
   border-bottom: 3px solid #f68c09;
}
.service__box.orange span {
   color: #f68c09;
}
.service__box.orange:hover {
   background: #f68c09;
}

.service__box.green {
   border-bottom: 3px solid #08da4e;
}
.service__box.green span {
   color: #08da4e;
}
.service__box.green:hover {
   background: #08da4e;
}

.service__box.violet {
   border-bottom: 3px solid #b50edf;
}
.service__box.violet span {
   color: #b50edf;
}
.service__box.violet:hover {
   background: #b50edf;
}

.service__box.pink {
   border-bottom: 3px solid #f51f9c;
}
.service__box.pink span {
   color: #f51f9c;
}
.service__box.pink:hover {
   background: #f51f9c;
}

.service__box.yellow {
   border-bottom: 3px solid #f8f323;
}
.service__box.yellow span {
   color: #f8f323;
}
.service__box.yellow:hover {
   background: #f8f323;
}

.service__box.brown {
   border-bottom: 3px solid #925030;
}
.service__box.brown span {
   color: #925030;
}
.service__box.brown:hover {
   background: #925030;
}

.service__box.blue {
   border-bottom: 3px solid #0244fa;
}
.service__box.blue span {
   color: #0244fa;
}
.service__box.blue:hover {
   background: #0244fa;
}

.service__box.grey {
   border-bottom: 3px solid #988a87;
}
.service__box.grey span {
   color: #988a87;
}
.service__box.grey:hover {
   background: #988a87;
}

.service__box.darkgreen {
   border-bottom: 3px solid #34946e;
}
.service__box.darkgreen span {
   color: #34946e;
}
.service__box.darkgreen:hover {
   background: #34946e;
}

.service__box:hover span {
   color: #fff;
}
.none {
   display: none;
}
.list-group-item.active {
   background-color: #e9222c;
   color: #fff;
   box-shadow: none;
   border: none;
}
/*buttons*/
.button-82-pushable {
   position: relative;
   border: none;
   background: transparent;
   padding: 0;
   cursor: pointer;
   outline-offset: 4px;
   transition: filter 250ms;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}
.button-82-shadow {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 12px;
   background: hsl(0deg 0% 0% / 0.25);
   will-change: transform;
   transform: translateY(2px);
   transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button-82-edge {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 12px;
   background: linear-gradient(to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100%);
}
.button-82-front {
   display: block;
   position: relative;
   padding: 10px 30px;
   border-radius: 12px;
   font-size: 1.1rem;
   color: white;
   background: hsl(345deg 100% 47%);
   will-change: transform;
   transform: translateY(-4px);
   transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button-82-pushable:hover {
   filter: brightness(110%);
}
.button-82-pushable:hover .button-82-front {
   transform: translateY(-6px);
   transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button-82-pushable:active .button-82-front {
   transform: translateY(-2px);
   transition: transform 34ms;
}
.button-82-pushable:hover .button-82-shadow {
   transform: translateY(4px);
   transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button-82-pushable:active .button-82-shadow {
   transform: translateY(1px);
   transition: transform 34ms;
}
.button-82-pushable:focus:not(:focus-visible) {
   outline: none;
}
/*tabs*/
.nav-tabs .nav-item .active {
   background-color: #f0003d;
   color: #fff;
}

/*Arrow up*/
.arrow-up {
   position: fixed;
   right: 25px;
   bottom: 25px;
   padding: 5px;
   z-index: 3;
   border: 1px solid #f0003d;
   border-radius: 15px;
}

/*Phone*/
.dws {
   position: absolute;
   bottom: 25px;
   left: 25px;
   position: fixed;
   z-index: 3;
}
.pulse,
.bloc,
.phone {
   position: absolute;
   width: 70px;
   height: 70px;
   color: #fff;
   text-align: center;
   border-radius: 50%;
}
.bloc {
   cursor: pointer;
   z-index: 1;
   overflow: hidden;
}
.pulse {
   background: #009846;
   position: relative;
   transition: 0.5s;
}
.phone {
   line-height: 70px;
   animation: phone 1.2s ease-in-out infinite;
}
.phone-text {
   position: absolute;
   opacity: 0;
   text-transform: uppercase;
   top: 12px;
   font-size: 14px;
   transform: scaleX(-1);
   transition: 0.5s ease-in-out;
}
.phone .bi-telephone-fill {
   transition: 0.5s ease-in-out;
}
.pulse:hover {
   background: #009846;
}
.pulse:hover .bi-telephone-fill {
   transition: 0.5s ease-in-out;
   transform: scale(0);
}
.pulse:hover .phone-text {
   transform: scaleX(1);
   transition: 0.5s ease-in-out;
   opacity: 1;
}
.pulse:hover::before,
.pulse:hover::after {
   content: '';
   position: absolute;
   border: 1px solid #009846;
   left: -20px;
   right: -20px;
   top: -20px;
   bottom: -20px;
   border-radius: 50%;
   animation: pulse 1.8s linear infinite;
   opacity: 0;
}
.pulse:hover::after {
   animation-delay: 0.5s;
}

@keyframes phone {
   0%,
   100% {
      transform: rotate(-20deg);
   }
   50% {
      transform: rotate(21deg);
   }
}
@keyframes pulse {
   0% {
      transform: scale(0.5);
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      transform: scale(1.2);
      opacity: 0;
   }
}
/*contacts*/
.contact-text h5 {
   color: #797076;
   font-weight: 300;
}

/*About*/
.about p,
.news-text p {
   text-indent: 30px;
   font-size: 18px;
}

/*footer*/
.footer {
   position: relative;
   color: #fff;
   background: #262626;
}

.social-icons a {
   text-decoration: none;
   padding: 5px;
}
.footer-links a {
   color: #fff;
}
.copyright,
.credits {
   background: #1e1e1e;
}
.grey-links {
   color: #666873;
   text-decoration: none;
}
a.grey-links:hover {
   color: #fff;
   cursor: pointer;
   text-decoration: underline;
}
.social a {
   text-decoration: none;
   color: #666873;
}
.social a:hover {
   color: #fff;
}
.social a svg {
   margin-right: 5px;
   margin-bottom: 10px;
}
/*online services*/
.norm-base li {
   padding: 5px;
}
.online__service {
   padding: 10px;
}
.norm-base li a {
   text-decoration: none;
}
.norm-base li a:hover {
   color: #e9222c;
}

/*News*/
.page-link {
   color: #f0003d;
   border: none;
   font-size: 20px;
}

.page-link.active {
   background-color: #f0003d;
   color: #fff;
}

.page-link:hover,
.page-link:focus {
   box-shadow: none;
   border: none;
   color: #fff;
   background-color: #f0003d;
}

.scale {
   max-height: 500px;
   transition: all 0.5s ease-in-out;
   object-fit: cover;
}

.scale:hover {
   transform: scale(1.1);
}

.news-img img {
   height: 300px;
}

/*racent news*/
.post-title {
   padding-bottom: 10px;
}
.recent-blog-posts .post-box {
   box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
   transition: 0.3s;
   height: 100%;
   overflow: hidden;
   padding: 30px;
   border-radius: 8px;
   position: relative;
   display: flex;
   flex-direction: column;
}
.recent-blog-posts .post-box .post-img {
   overflow: hidden;
   margin: -30px -30px 15px -30px;
   position: relative;
}
.recent-blog-posts .post-box .post-img img {
   transition: 0.5s;
}
.recent-blog-posts .post-box .post-date {
   font-size: 16px;
   font-weight: 600;
   color: rgba(1, 41, 112, 0.6);
   display: block;
   margin-bottom: 10px;
}
.recent-blog-posts .post-box .post-title {
   font-size: 24px;
   color: #012970;
   font-weight: 700;
   margin-bottom: 18px;
   position: relative;
   transition: 0.3s;
}
.recent-blog-posts .post-box .readmore {
   display: flex;
   align-items: center;
   font-weight: 600;
   line-height: 1;
   transition: 0.3s;
}
.recent-blog-posts .post-box:hover .post-title {
   color: #4154f1;
}
.recent-blog-posts .post-box:hover .post-img img {
   transform: rotate(6deg) scale(1.2);
}

.post-img img {
   height: 300px;
   object-fit: fill;
}
/*Accordion*/
.accordion-button:focus {
   box-shadow: none;
}

.accordion-button:not(.collapsed) {
   background-color: #e9222c;
   color: #fff;
}
.accordion-button.collapsed:hover {
   color: #e9222c;
}

/*About*/
.about__img {
   max-width: 600px;
}

/*Photo-galery*/
a[data-fancybox] img {
   cursor: zoom-in;
}
.galery .col {
   height: 250px;
   overflow: hidden;
}
.galery .col a img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
/*media*/
@media (max-width: 992px) {
   .nav-link {
      padding: 8px;
   }
   .navbar-brand h5 {
      font-size: 16px;
   }
   .nav {
      display: flex;
      flex-direction: column;
   }
   .footer-img {
      display: none;
   }
   .footeer-images {
      display: flex;
      justify-content: center;
   }
   .social a {
      margin-right: 5px;
   }
}
@media (max-width: 767px) {
   .dropdown-menu {
      border-top: 1px solid #f50000;
      position: relative;
      background: transparent;
      width: 100%;
      margin-left: 10px;
   }
   .navbar-brand h5 {
      font-size: 14px;
   }
   .navbar-brand img {
      width: 60px;
   }
   .dropdown-item {
      font-size: 20px;
      max-width: 100%;
   }
   .nav {
      display: flex;
      flex-direction: column;
   }
   .nav-item {
      font-size: 20px;
   }
   .none {
      display: block;
   }
   .input {
      font-size: 16px;
      height: 40px;
      margin-top: 10px;
   }
   .search-btn {
      display: none;
   }
   .btn {
      padding: 5px 20px;
      margin: 10px;
      font-size: 18px;
   }
   .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
   }
   .footer-img {
      display: inherit;
   }
}

textarea {
   width: 200px;
   min-height: 50px;
   height: 100px;
   max-height: 250px;
}
.form-control {
   border-radius: 15px;
   padding: 10px 20px;
}
.contacts div {
   border-radius: 15px;
}
.gap {
   margin-bottom: 50px;
}

/* Team */
.team {
   background: #fff;
   padding: 30px 0;
}
.team .member {
   overflow: hidden;
   text-align: center;
   border-radius: 5px;
   background: #fff;
   box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
   transition: 0.3s;
}
.team .member .member-img {
   position: relative;
   overflow: hidden;
}
.member-img img {
   height: 250px;
   object-fit: cover;
}

.team .member .member-info {
   padding: 10px 15px 20px 15px;
}
.team .member .member-info h4 {
   font-weight: 700;
   margin-bottom: 5px;
   font-size: 20px;
   color: #012970;
}
.team .member .member-info span {
   display: block;
   font-size: 14px;
   font-weight: 400;
   color: #aaaaaa;
}

.team .member:hover {
   transform: scale(1.08);
   box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.team .member:hover .social {
   right: 8px;
   opacity: 1;
}
